.pokemon-image-container {
    background-color: var(--color-white-primary);
    border-radius: 15px;
    padding: 20px;
    box-shadow: var(--shadow-standard);
    aspect-ratio: 1/1;
    width: 95%;
}

.pokemon-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}