.abilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 22px;
  
  width: 409px;
  height: 202px;
  
  border-radius: 10px;
  box-shadow: var(--shadow-standard);
}

.abilities-title {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  color: var(--text-color-primary);
  text-align: center;
  margin: 0;
}

.abilities-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  width: 95%;
  padding: 20px 10px;
  min-height: 120px;
  background-color: rgba(242, 242, 242, 0.85);
  border-radius: 15px;
  box-shadow: var(--shadow-inset);
}

.ability-item {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  color: var(--text-color-primary);
  margin: 0;
}
