.top-info-bar-container {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    /* Size */
    max-width: 1440px;
    width: 100%;
    height: 80px;

    /* Spacing */
    padding: var(--spacing-md) var(--spacing-lg); /* top/bottom left/right */

    /* Colors */
    background-color: var(--color-white-primary);
    box-shadow: var(--shadow-standard);
}

.pokemon-id{
    background-color: var(--color-white-tertiary);
    padding: 0px var(--spacing-xl);
    border-radius: 15px;
    box-shadow: var(--shadow-inset);

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);    /* px */
    font-weight: var(--font-weight-regular);                   /* Regular weight - ADD THIS! */
    color: var(--color-text-tertiary);
}

.pokemon-name{
    background-color : var(--color-white-secondary);
    padding: 0px 200px;
    border-radius: 15px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);   /* 40px */
    font-weight: var(--font-weight-bold);                      /* Bold weight */
    color: var(--color-text-primary);
}

.pokemon-types {
  display: flex;
  gap: 9px;
}



