.navbar{
    /*Layout*/
    display: flex;
    justify-content: space-between; 
    align-items: center;

    /*size*/
    width: 100%;
    height: 145px;

    /*Spacing   */
    padding: var(--spacing-md) var(--spacing-lg);       /*top/bottom left/right*/

    /*Colors*/
    background-color: var(--color-white-primary);
    box-shadow: var(--shadow-standard);
}

.navbar-logo{
    /*size*/
    width: 145px;
    height: 145px;

    /* Shape */
    border-radius: 10px;

    /*Effects*/

    /*behavior*/
    flex-shrink: 0;

    /*Colors*/
}

.navbar-logo img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 10px;
}


.navbar-right {
    /*size*/
    width: 300px;
    height: 124px;

    flex-shrink: 1;
}