.pokemon-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: var(--pokemon-info-size, 460px);
    box-sizing: border-box;
    width: 100%;
    
    /* Add these back! */
    background-color:var(--color-white-primary);
    border-radius: 15px;
    padding: 20px;
    box-shadow: var(--shadow-standard);
}

.info-row-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 0 0 auto;
    align-items: stretch;
}