.pokemon-image-container {
    background-color: var(--color-white-primary);
    border-radius: 15px;
    padding: 20px;
    box-shadow: var(--shadow-standard);
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: var(--pokemon-info-size, 460px);
    height: var(--pokemon-info-size, 460px);
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pokemon-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}